@import "general";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: $desktopBackground;
}

aside {
    width: 15vw;
    height: 100vh;
    @include flexCenter;
}

.asideContent {
  width: 97.5%;
  height: 99%;
  background-color: $menu;
  border-radius: 1vh;
}

.logoBar {
  @include flexCenter;
  @include logoText;

  height: 10%;
  width: 100%;
  text-shadow: $smallTextShadow;
  font-size: 2vw;

  img {
    width: 4.5vw;
    height: 4.5vw;
  }
}

.divider {
  width: 95%;
  height: 0.3%;
  margin: auto;
  background-color: $divider;
  border-radius: 30%;
}

.menuBar {
  width: 100%;
  height: 79.4%;
  flex-direction: column;

  @include flexCenter;
}

.menuOption {
  width: 90%;
  height: 10%;
  font-size: 1.8vw;
  font-weight: 600;
  font-style: italic;
  text-shadow: $smallTextShadow;

  @include flexCenter;

  img {
    width: 4vw;
    height: 4vw;
  }
}

.profileBar {
  height: 10%;
  width: 100%;
  display: flex;

  img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
  }
}

#usernameShowcase {
  @include flexCenter;
  width: 10vw;
  height: 100%;
  font-size: 1.25vw;
}

main {
  width: 35vw;
  height: 100vh;
  background-color: blue;
}

.sideInfoWrapper {
  width: 50vw;
  height: 100vh;
  @include flexCenter;
}

.sideInfo {
  @extend .asideContent;
}

.carName {
  width: 100%;
  height: 10%;
  @include flexCenter;
}

.tldr {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tldrBox {
  @include flexCenter;
  flex-direction: column;
  width: 12%;
  height: 90%;
  text-align: center;
  font-size: 10px;
  gap: 0;

  img {
    width: 60%;
  }

  p {
    color: white;
    font-weight: 600;
    font-size: 12px;
  }
}