@import "general";

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

@keyframes logo-animation {
    from {
        opacity: 1; 
    }
    to {
        opacity: 0;
        
    }
}

.logo {
    @media (max-width: 600px) {
        font-size: 40px;
        text-shadow: $smallTextShadow;
    }

    animation: logo-animation 1s 1s ease-out forwards;

    text-shadow: $bigTextShadow;
    font-size: 100px;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    pointer-events: none;

    @include logoText;
    @include flexCenter;
    @include logoBackground;
}

img {
    @media (max-width: 600px) {
        width: 100px;
        height: 100px;
    }
    width: 250px;
    height: 250px;
}
